apiVersion: v1
kind: PersistentVolume
metadata:
  name: kube-nfs-pv
spec:
  storageClassName: storage-nfs
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ kube_nfs }}
    path: "/srv/nfs"

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: kube-nfs-pv2
spec:
  storageClassName: storage-nfs
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ kube_nfs }} 
    path: "/srv/nfs2"



---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: mysql-pv-claim
spec:
  storageClassName: storage-nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: wp-pv-claim
  labels:
    app: wordpress
spec:
  storageClassName: storage-nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
